{
    "commentable_type": "Scrap",
    "commentable_id": {{.steps.postScrap.scrapId }},
    "body_markdown": "# {{.vars.topic }}ランキング
{{$imageCount := 3}}
{{$fileUpload := .captureImage}}
{{range $i, $ranking := .steps.makeRanking.rows}}
1. [{{$ranking.title}}]({{$ranking.path}})
{{if lt $i $imageCount}}![Ranking-{{$i}}]({{index $fileUpload $i }})
{{end}}published_at: {{$ranking.published_at}}
liked_count: {{$ranking.liked_count}}
{{ end }}
"
}